<!DOCTYPE html>
<html>
<head>
    <title>App-Stub Settings</title>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.16.4/js/Wix.js"></script>
</head>

<body onload="setColorCheckedValue('$appSettings.getColor()')">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="hero-unit">
            <h2>$appSettings.getTitle()</h2>
            <h3>Settings</h3>
        </div>
    </div>

    <div class="container-fluid thumbnail" style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px">
        <div class="row-fluid">
            <div class="span12">
                <h6>Options</h6>
                <hr/>
                <div class="row-fluid">
                    <label class="pull-left" for="title">Title</label>
                    <input class="pull-right" maxlength="20" name="titleText" id="title" size="10" type="text"
                           value="$appSettings.getTitle()"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h6>What color do you prefer?</h6>
                <hr/>
                <form class="well" name="form1">
                    <div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" id="colors">
                        <button type="button" id="LightGreen" value="LightGreen" class="btn" data-toggle="button">LightGreen</button>
                        <button type="button" id="HotPink" value="HotPink" class="btn" data-toggle="button">HotPink</button>
                        <button type="button" id="Khaki" value="Khaki" class="btn" data-toggle="button">Khaki</button>
                        <input type="hidden" name="is_private" value="$appSettings.getColor()"/>
                    </div>
                </form>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h6>Instance Parameters</h6>
                <hr/>
                <div class="row-fluid">
                    <div class="pull-left">instanceId</div>
                    <div class="pull-right">$wixSignedInstance.getInstanceId()</div>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">signDate</div>
                    <div class="pull-right">$wixSignedInstance.getSignDate()</div>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">uid</div>
                    <div class="pull-right">$wixSignedInstance.getUid()</div>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">permissions</div>
                    <div class="pull-right">$wixSignedInstance.getPermissions()</div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <hr/>
            <div id="saveAlert" class="alert alert-success hide fade in" data-alert="alert">
                <a class="close" href="#">×</a>
                <strong>Changes saved successfully!</strong>
            </div>
        </div>

    </div>

    <button class="btn pull-right" name="refreshComp" onclick="saveChanges(document.getElementById('title').value, getColorCheckedValue())">Save Changes</button>

</div>

<script type="text/javascript">
    function saveChanges(title, color) {
        updateApp(color, title);
    }

    function updateApp(color, title) {

        var controllerUrl = "#springUrl("/test-app/settingsupdate")";
        var fullUrl = controllerUrl + "?instanceId=$wixSignedInstance.getInstanceId()&color=" + color + "&title=" + title;

        jQuery.ajax({
            url: fullUrl,
            dataType: "json"
        })
                .done(function() {
                    $("#saveAlert").show();
                    setTimeout( function() {
                        Wix.refreshApp();
                    }, 2000)
                })
                .fail(function(jqXHR, textStatus) {
                  alert( "Request failed: " + textStatus );
                });
    }

    function setColorCheckedValue(chosen) {
        if (chosen == "" || chosen == "white") {
            chosen = "LightGreen";
        }

        $('.btn-group').children('.btn#'+chosen).button('toggle');
    }

    function getColorCheckedValue() {
        return $('.btn-group button.active').text();
    }
</script>

</body>
</html>