<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/rss.widget.css"/>
    <link rel="stylesheet" href="/static/external_modules/flexcrollstyles.css"/>

    <style wix-style type="text/css">
        #widget-body{
        background-color: {{style.bgColor}}
            }

        #feedTitle{
        color: {{style.titleColor}}
            }

        #feedEntries{
        background-color: {{style.bgFeedColor}}
            }

        .feed *{
        color: {{style.textColor}}
            }

    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<body>
    <div id="widget-body" class="flexcroll">
        <div class="widget-header">
            <div class="main-title" id="feedTitle"></div>
        </div>
        <div class="overview">
            <div class="feed-container" id="feedEntries"></div>
        </div>
    </div>

    <script type="text/javascript">
        var newSettings = ${settings};
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.23.0/js/Wix.js"></script>
    <script type="text/javascript" src="/static/external_modules/flexcroll.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/rss.widget.js"></script>
</body>
</html>

