<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="/static/css/rss.widget.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<div class="widget-body">
    <div class="widget-header">
        <div class="main-title" id="feedTitle"></div>
    </div>
    <div class="overview">
        <div class="feed-container" id="feedEntries"></div>
    </div>
</div>

<script id="feed" type="text/x-handlebars-template">
    <a class="entry-link" href="{{link}}" target="_blank">
        <div class="feed">
            <div class="title">{{title}}</div>
            <div class="content"><p>{{content}}</p></div>
        </div>
    </a>
</script>

<script type="text/javascript">
    var newSettings = ${settings};
</script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/latest/js/Wix.js"></script>
<script type="text/javascript" src="/static/js/handlebars.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/rss.widget.js"></script>
</body>
</html>