<!DOCTYPE html>
<html>
<head>
    <title>$appInstance.getTitle() Widget</title>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.8.0/js/Wix.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="hero-unit" style="background-color:$appInstance.getColor();">
            <h2>$appInstance.getTitle()</h2>

            <h3>Widget</h3>
        </div>
    </div>

##    instance-details

    <div class="container-fluid thumbnail"
         style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px $appInstance.getColor()">
        <div class="span4">
            <h6>Instance Parameters</h6>
            <hr/>
            <div class="row-fluid">
                <div class="pull-left">instanceId</div>
                <div class="pull-right">$appInstance.getInstanceId()</div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">signDate</div>
                <div class="pull-right">$appInstance.getSignDate()</div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">uid</div>
                <div class="pull-right">$appInstance.getUid()</div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">permissions</div>
                <div class="pull-right">$appInstance.getPermissions()</div>
            </div>
        </div>
    </div>

##    session-details

    <div class="container-fluid thumbnail"
         style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px $appInstance.getColor()">
        <div class="span4" id="smContainer">
            <h6>Site Memeber Parameters</h6>
            <hr/>
            <div class="row-fluid">
                <div class="pull-left">isLoggedIn</div>
                <div class="pull-right" id="isLoggedIn"></div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">collectionId</div>
                <div class="pull-right" id="collectionId"></div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">email</div>
                <div class="pull-right" id="email"></div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">id</div>
                <div class="pull-right" id="memberId"></div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">name</div>
                <div class="pull-right" id="userName"></div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">owner</div>
                <div class="pull-right" id="owner"></div>
            </div>
            <div class="row-fluid">
                <div class="pull-left">status</div>
                <div class="pull-right" id="status"></div>
            </div>
        </div>
        <button class="btn pull-right" id="login">Login</button>
    </div>

    <script type="text/javascript">
        $("#login").click(function () {
            Wix.requestLogin(function (response) {
            });
        });

        $(document).ready(function () {
            Wix.currentMember(function (response) {
                var smContainer = $("#smContainer");

                if (!response || response == {} || response == undefined ||
                        response.code == "API_NOT_LOADED" || response.code == "TOKEN_IS_INVALID") {
                    smContainer.children().hide();
                    Wix.reportHeightChange(500);
                } else {
                    $("#collectionId").text(response.collectionId);
                    $("#email").text(response.email);
                    $("#memberId").text(response.id);
                    $("#userName").text(response.name);
                    $("#owner").text(response.owner);
                    $("#status").text(response.status);
                    Wix.reportHeightChange(900);
                }
            });
        });
    </script>

</div>

</body>
</html>